extends layout

block content
    .section
        .left
            img(src="./img/company_logo_def.png", alt="Company logo")
        .right   	  
            .row1
                h2 #{companies.name}
                    span #{companies.cash}K$
            label='Description' 
            h3 #{companies.desc}
            label='Location'    
            h3.row3 #{companies.location}
            label='Office tel. number'    
            h3.row4 #{companies.tel_num}
    .button_block
        a(href='/company/'+companies.id) Edit
        a(href='/company/from_parent/'+companies.id) Add child