{% extends 'layout.twig' %}

{% block body %}
  {% set level = "-" %}
  <ul>
  {% for company in companies %}
    {% if (company.parent_id == null) %}
      <li><div><a href="/company/{{company.id}}">{{level}} {{company.name}}</a> | {{company.cash}}$</div><a href="/company/add/{{company.id}}">+</a>
    {% elseif () %}
    </li>
  {% endfor %}
  </ul>
  <a href="/company">+</a>
{% endblock %}
